.flex .picture
{
  padding-bottom: 1em;
}

.flex
{
  display: flex !important;
}

.flex.bottom
{
  margin-bottom: 1em;
}

.flexrow
{
  flex-direction: row;
}

.flexbetween
{
  justify-content: space-between;
}

.flexwrap
{
  flex-wrap: wrap;
}

.flexgrow
{
  flex-grow: 1;
}

.flex.space-between
{
  justify-content: space-between;
}

.flex.space-around
{
  justify-content: space-around;
}

.flex .box
{
  width: 47.5%;
}

.flex > .cell
{
  min-width: 50px;
}