.fa .active-slide:before
{
  font-family: FontAwesome;
  content:     '\f0d7';
  position:    relative;
  top:         -15px;
  left:        -4px;
  margin-left: -10px;
  font-style:  normal;
}

.active-slide:before
{
  font-family: FontAwesome;
  content:     '\f0d7';
  position:    relative;
  top:         -15px;
  left:        12px;
  margin-left: -10px;
  font-style:  normal;
}
